@font-face {
    font-family: 'Pacifico';
    src: local('Pacifico'), url('./fonts/Pacifico-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.flowersLeft{
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0;
}

.flowersRight{
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 0;
}
body{
    background-color: #ffdad4 !important;
    font-family: 'Pacifico', sans-serif !important;


}
.text8{
    font-size:90px;
    color:#e21d2c;
}
.text-8-marta{
    font-size:60px;
}
.flowersLeft,.flowersRight{
    max-width:100%;
}
@media  (max-width: 1399.98px) {
    .flowersLeft img{
        width: 230px;
        background-size: 230px 327px;
    }
    .flowersRight img{
        width: 300px;
        background-size: 300px 211px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {

    p{
        font-size: 40px;
    }
}
@media (max-width:991px) {

    p{
        font-size: 40px;
    }
}
@media (max-width:767px) {

    p{
        font-size: 50px;
    }
}

@media (max-width:475px) {

    p{
        font-size: 50px;
    }
}
@media (max-width:400px) {

    p{
        font-size: 50px;
    }
}
@media (max-width:350px) {

    p{
        font-size: 50px;
    }
}